body {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: color-mix(in srgb, #4caf50 70%, white);;
}

.steps-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.progress {
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #ccc;
    z-index: 1;
}

.steps {
    width: 100px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 2;
}

.light-1 {
    background-color: color-mix(in srgb, #4caf50 70%, white); /* Green */
}

.light-2 {
    background-color: color-mix(in srgb, #187dcfff 70%, white); /* Blue */
}

.light-3 {
    background-color: color-mix(in srgb, #ff9800 70%, white); /* Orange */
}

.light-4 {
    background-color: color-mix(in srgb, #f44336 70%, white); /* Red */ 
}

.step-1 {
    background-color: #4caf50; /* Green */
}

.step-2 {
    background-color: #2196f3; /* Blue */
}

.step-3 {
    background-color: #ff9800; /* Orange */
}

.step-4 {
    background-color: #f44336; /* Red */
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    width: 30%;
}

.button {
    width: 140px;
    height: 35px;
    color: white;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    margin: 30px;
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.active {
    background-color: #007bff;
    cursor: pointer;
}